In [1]:
import numpy as np
import pandas as pd 
from sklearn.impute import SimpleImputer

In [3]:
train = pd.read_csv(r"G:\NOTEBOOK_\train.csv")
test = pd.read_csv(r"G:\NOTEBOOK_\test.csv")
print("shape of train df = ",train.shape)
print("shape of test df = ",test.shape)

shape of train df =  (1460, 81)
shape of test df =  (1459, 80)

In [7]:
train.head(6)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000

In [6]:
train.shape

(1460, 81)

In [10]:
X_train = train.drop(columns = 'SalePrice')
y_train = train['SalePrice']

In [13]:
X_train.head(6)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal

In [14]:
y_train.head(6)

0    208500
1    181500
2    223500
3    140000
4    250000
5    143000
Name: SalePrice, dtype: int64

In [17]:
print(type(y_train))
print((y_train.shape)) # this is a vector !!

<class 'pandas.core.series.Series'>
(1460,)

In [16]:
type(X_train)

pandas.core.frame.DataFrame

In [31]:
num_vars = X_train.select_dtypes(include= [ 'int64' , 'float64' ])

In [32]:
print((num_vars).columns)
colss = (num_vars).columns
print(colss)

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')
Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')

In [33]:
print(type(colss))

<class 'pandas.core.indexes.base.Index'>

In [34]:
num_vars_2 = X_train.select_dtypes(include= [ 'int64' , 'float64' ]).columns

In [35]:
print(num_vars_2)

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')

In [37]:
null_details = X_train[num_vars_2].isnull().sum()

In [40]:
print(type(null_details))
print((null_details.shape)) # it is a  vector !

<class 'pandas.core.series.Series'>
(37,)

In [42]:
null_details_2 = X_train[num_vars_2].isnull()
null_details_2

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1456,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1457,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1459,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [43]:
null_details_2 = null_details_2.sum()

In [46]:
print( type(null_details_2) )
print( (null_details_2) )

<class 'pandas.core.series.Series'>
Id                 0
MSSubClass         0
LotFrontage      259
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         8
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64

In [47]:
simple_imp = SimpleImputer(strategy='mean')
# simple_imp = SimpleImputer(strategy='constant' , fill_value=1212)

In [48]:
simple_imp.fit(X_train[num_vars_2]) # finds out the mean and stores it !

SimpleImputer()

In [49]:
# SHOWS THE MEAN VALUE OF THE NULL DATASET
simple_imp.statistics_ # when we fit the data it returns an array !!

array([7.30500000e+02, 5.68972603e+01, 7.00499584e+01, 1.05168281e+04,
       6.09931507e+00, 5.57534247e+00, 1.97126781e+03, 1.98486575e+03,
       1.03685262e+02, 4.43639726e+02, 4.65493151e+01, 5.67240411e+02,
       1.05742945e+03, 1.16262671e+03, 3.46992466e+02, 5.84452055e+00,
       1.51546370e+03, 4.25342466e-01, 5.75342466e-02, 1.56506849e+00,
       3.82876712e-01, 2.86643836e+00, 1.04657534e+00, 6.51780822e+00,
       6.13013699e-01, 1.97850616e+03, 1.76712329e+00, 4.72980137e+02,
       9.42445205e+01, 4.66602740e+01, 2.19541096e+01, 3.40958904e+00,
       1.50609589e+01, 2.75890411e+00, 4.34890411e+01, 6.32191781e+00,
       2.00781575e+03])

In [50]:
arr_imp = simple_imp.statistics_ 
print(type(arr_imp))

<class 'numpy.ndarray'>

In [51]:
arr_imp.transform(X_train[num_vars_2])

AttributeError: 'numpy.ndarray' object has no attribute 'transform'

In [52]:
print(type(simple_imp))

<class 'sklearn.impute._base.SimpleImputer'>

In [55]:
#Now we have the mean but where to set the mean at ? 
# we will set the mean to X_train 
((simple_imp).transform(X_train[num_vars_2])) 
# the returns an array DISAD !

array([[1.000e+00, 6.000e+01, 6.500e+01, ..., 0.000e+00, 2.000e+00,
        2.008e+03],
       [2.000e+00, 2.000e+01, 8.000e+01, ..., 0.000e+00, 5.000e+00,
        2.007e+03],
       [3.000e+00, 6.000e+01, 6.800e+01, ..., 0.000e+00, 9.000e+00,
        2.008e+03],
       ...,
       [1.458e+03, 7.000e+01, 6.600e+01, ..., 2.500e+03, 5.000e+00,
        2.010e+03],
       [1.459e+03, 2.000e+01, 6.800e+01, ..., 0.000e+00, 4.000e+00,
        2.010e+03],
       [1.460e+03, 2.000e+01, 7.500e+01, ..., 0.000e+00, 6.000e+00,
        2.008e+03]])

In [56]:
type((simple_imp).transform(X_train[num_vars_2]))

numpy.ndarray

In [60]:
X_train[num_vars_2] = ((simple_imp).transform(X_train[num_vars_2]))
test[num_vars_2] = ((simple_imp).transform(test[num_vars_2]))
# here we will use the same mean values of the X_train as
# the avg/mean values will not change in the test also !

In [61]:
 X_train.isnull().sum() # now no missing values !

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
Length: 80, dtype: int64

In [62]:
 test.isnull().sum() # now no missing values !

Id               0
MSSubClass       0
MSZoning         4
LotFrontage      0
LotArea          0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         1
SaleCondition    0
Length: 80, dtype: int64

# Categorical missing values imputation !

In [66]:
cat_vars = X_train.select_dtypes(include='object')

In [68]:
print(cat_vars.head(6))

  MSZoning Street Alley LotShape LandContour Utilities LotConfig LandSlope  \
0       RL   Pave   NaN      Reg         Lvl    AllPub    Inside       Gtl
1       RL   Pave   NaN      Reg         Lvl    AllPub       FR2       Gtl
2       RL   Pave   NaN      IR1         Lvl    AllPub    Inside       Gtl
3       RL   Pave   NaN      IR1         Lvl    AllPub    Corner       Gtl
4       RL   Pave   NaN      IR1         Lvl    AllPub       FR2       Gtl
5       RL   Pave   NaN      IR1         Lvl    AllPub    Inside       Gtl

  Neighborhood Condition1  ... GarageType GarageFinish GarageQual GarageCond  \
0      CollgCr       Norm  ...     Attchd          RFn         TA         TA
1      Veenker      Feedr  ...     Attchd          RFn         TA         TA
2      CollgCr       Norm  ...     Attchd          RFn         TA         TA
3      Crawfor       Norm  ...     Detchd          Unf         TA         TA
4      NoRidge       Norm  ...     Attchd          RFn         TA         TA
5      Mitchel       Norm  ...     Attchd          Unf         TA         TA

  PavedDrive PoolQC  Fence MiscFeature SaleType SaleCondition
0          Y    NaN    NaN         NaN       WD        Normal
1          Y    NaN    NaN         NaN       WD        Normal
2          Y    NaN    NaN         NaN       WD        Normal
3          Y    NaN    NaN         NaN       WD       Abnorml
4          Y    NaN    NaN         NaN       WD        Normal
5          Y    NaN  MnPrv        Shed       WD        Normal

[6 rows x 43 columns]

In [69]:
print(type(cat_vars))

<class 'pandas.core.frame.DataFrame'>

In [70]:
cat_vars = cat_vars.columns

In [71]:
print(cat_vars)

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [72]:
print(type(cat_vars))

<class 'pandas.core.indexes.base.Index'>

In [73]:
cat_imp = SimpleImputer(strategy='most_frequent')

In [74]:
cat_imp

SimpleImputer(strategy='most_frequent')

In [76]:
cat_imp.fit(X_train[cat_vars]) # now we got the MODE OF M.VALUES

SimpleImputer(strategy='most_frequent')

In [77]:
X_train[cat_vars] = cat_imp.transform(X_train[cat_vars])
test[cat_vars] = cat_imp.transform(test[cat_vars])

In [78]:
# 1. create an object 
# 2. get mean / mode via .fit() 
# 3. transform the original dataset . X[a] = obj.transform(X[a])

In [79]:
test.isnull().sum() # no missing vals

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
Length: 80, dtype: int64

In [80]:
X_train.isnull().sum() # no missing vals in original dataset !

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
Length: 80, dtype: int64

In [81]:
# if we want to apply different strategy on different columns the 
# Simp does not come handy 
# we use a pipeline for the problem !